<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Reg_Number</th>
      <th>Full Name</th>
      <th>Campus</th>
      <th>DOB</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Institute Name</th>
      <th>Email Id (Christ University)</th>
      <th>Mobile Number</th>
      <th>Percentage: X</th>
      <th>Percentage: XII</th>
      <th>Graduation Stream (BCom/Btech/BBA etc)</th>
      <th>Percentage: Graduation</th>
      <th>Graduation Specialisation</th>
      <th>PG</th>
      <th>PG Specialisation</th>
      <th>Percentage: PG</th>
      <th>Summer Internship Organisation</th>
      <th>Internship Project Title</th>
      <th>Last Organisation Worked for (if any)</th>
      <th>Total Work Ex (In months)</th>
      <th>Hometown (City)</th>
      <th>Hometown (State)</th>
      <th>Languages Known</th>
      <th>Role Preference 1</th>
      <th>Resume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1827722</td>
      <td>Prajwal</td>
      <td>Main</td>
      <td>1994-02-01</td>
      <td>25.000000</td>
      <td>Male</td>
      <td>Christ (Deemed to be University) Institute of Management</td>
      <td>prajwal.hn@mba.christuniversity.in</td>
      <td>1234567890</td>
      <td>90</td>
      <td>87</td>
      <td>BBA</td>
      <td>80</td>
      <td>Human Resources</td>
      <td>MBA</td>
      <td>Business Analytics</td>
      <td>90</td>
      <td>ABC</td>
      <td>QWERTY</td>
      <td>PWP</td>
      <td>10.0</td>
      <td>Bangalore</td>
      <td>Karnataka</td>
      <td>Hindi, English, Telugu, Gujarati, Tamil, Kannada</td>
      <td>Analyst</td>
      <td>https://drive.google.com/u/0/open?usp=forms_web&amp;id=1WpIycveZ_k_ncCPRvAnS8FfQMMCnPw92</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1827933</td>
      <td>Manikanth</td>
      <td>Main</td>
      <td>1995-03-02</td>
      <td>24.000000</td>
      <td>Male</td>
      <td>Christ (Deemed to be University) Institute of Management</td>
      <td>vundavalli.manikanth@mba.christuniversity.in</td>
      <td>1234567890</td>
      <td>89</td>
      <td>88</td>
      <td>Btech</td>
      <td>81</td>
      <td>Electrical Engineering</td>
      <td>MBA</td>
      <td>Business Analytics</td>
      <td>89</td>
      <td>DEF</td>
      <td>QWERTY</td>
      <td>No</td>
      <td>NaN</td>
      <td>Chennai</td>
      <td>Tamilnadu</td>
      <td>English,Tamil</td>
      <td>Manager</td>
      <td>https://drive.google.com/u/0/open?usp=forms_web&amp;id=1WpIycveZ_k_ncCPRvAnS8FfQMMCnPw96</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1827811</td>
      <td>Yatesh</td>
      <td>Main</td>
      <td>1996-04-03</td>
      <td>23.000000</td>
      <td>Male</td>
      <td>Christ (Deemed to be University) Institute of Management</td>
      <td>gn.yatesh@mba.christuniversity.in</td>
      <td>1234567890</td>
      <td>88</td>
      <td>89</td>
      <td>BSc</td>
      <td>82</td>
      <td>Physics</td>
      <td>MBA</td>
      <td>Business Analytics</td>
      <td>88</td>
      <td>GHI</td>
      <td>QWERTY</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Kottayam</td>
      <td>Kerala</td>
      <td>English, Hindi, Tamil, Telugu, Malayalam</td>
      <td>Consultant</td>
      <td>https://drive.google.com/u/0/open?usp=forms_web&amp;id=1WpIycveZ_k_ncCPRvAnS8FfQMMCnPw98</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1827716</td>
      <td>Kevin</td>
      <td>Main</td>
      <td>1995-08-07</td>
      <td>24.000000</td>
      <td>Male</td>
      <td>Christ (Deemed to be University) Institute of Management</td>
      <td>kevinjose@mba.christuniversity.in</td>
      <td>1234567890</td>
      <td>86</td>
      <td>91</td>
      <td>BSc</td>
      <td>84</td>
      <td>Human Resources</td>
      <td>MBA</td>
      <td>Business Analytics</td>
      <td>86</td>
      <td>ABC</td>
      <td>QWERTY</td>
      <td>PWP</td>
      <td>11.0</td>
      <td>Bangalore</td>
      <td>Karnataka</td>
      <td>Hindi, English, Telugu, Gujarati, Tamil, Kannada</td>
      <td>Analyst</td>
      <td>https://drive.google.com/u/0/open?usp=forms_web&amp;id=1WpIycveZ_k_ncCPRvAnS8FfQMMCnPw101</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1928106</td>
      <td>Aleena</td>
      <td>Kengeri</td>
      <td>1995-03-02</td>
      <td>21.000000</td>
      <td>Female</td>
      <td>Christ (Deemed to be University) Institute of Management</td>
      <td>abc@mba.christuniversity.in</td>
      <td>1234567890</td>
      <td>82</td>
      <td>95</td>
      <td>Btech</td>
      <td>88</td>
      <td>Electrical Engineering</td>
      <td>MBA</td>
      <td>Business Analytics</td>
      <td>82</td>
      <td>DEF</td>
      <td>QWERTY</td>
      <td>No</td>
      <td>NaN</td>
      <td>Chennai</td>
      <td>Tamilnadu</td>
      <td>English,Tamil</td>
      <td>Business Analytics</td>
      <td>https://drive.google.com/u/0/open?usp=forms_web&amp;id=1WpIycveZ_k_ncCPRvAnS8FfQMMCnPw96</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1928107</td>
      <td>Sameer</td>
      <td>Kengeri</td>
      <td>1996-04-03</td>
      <td>20.571429</td>
      <td>Male</td>
      <td>Christ (Deemed to be University) Institute of Management</td>
      <td>abc@mba.christuniversity.in</td>
      <td>1234567890</td>
      <td>81</td>
      <td>96</td>
      <td>BSc</td>
      <td>89</td>
      <td>Physics</td>
      <td>MBA</td>
      <td>Business Analytics</td>
      <td>81</td>
      <td>GHI</td>
      <td>QWERTY</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Kottayam</td>
      <td>Kerala</td>
      <td>English, Hindi, Tamil, Telugu, Malayalam</td>
      <td>Business Analytics</td>
      <td>https://drive.google.com/u/0/open?usp=forms_web&amp;id=1WpIycveZ_k_ncCPRvAnS8FfQMMCnPw96</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1827911</td>
      <td>Paul</td>
      <td>Main</td>
      <td>1994-02-01</td>
      <td>25.000000</td>
      <td>Male</td>
      <td>Christ (Deemed to be University) Institute of Management</td>
      <td>123@gmail.com</td>
      <td>1234567890</td>
      <td>90</td>
      <td>87</td>
      <td>BBA</td>
      <td>80</td>
      <td>Human Resources</td>
      <td>MBA</td>
      <td>Marketing</td>
      <td>90</td>
      <td>ABC</td>
      <td>QWERTY</td>
      <td>PWP</td>
      <td>10.0</td>
      <td>Bangalore</td>
      <td>Karnataka</td>
      <td>Hindi, English, Telugu, Gujarati, Tamil, Kannada</td>
      <td>Executive</td>
      <td>https://drive.google.com/u/0/open?usp=forms_web&amp;id=1WpIycveZ_k_ncCPRvAnS8FfQMMCnPw89</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1827909</td>
      <td>Chrsito</td>
      <td>Main</td>
      <td>1995-03-02</td>
      <td>24.000000</td>
      <td>Male</td>
      <td>Christ (Deemed to be University) Institute of Management</td>
      <td>123@gmail.com</td>
      <td>1234567890</td>
      <td>89</td>
      <td>88</td>
      <td>Btech</td>
      <td>81</td>
      <td>Electrical Engineering</td>
      <td>MBA</td>
      <td>Marketing</td>
      <td>89</td>
      <td>DEF</td>
      <td>QWERTY</td>
      <td>No</td>
      <td>NaN</td>
      <td>Chennai</td>
      <td>Tamilnadu</td>
      <td>English,Tamil</td>
      <td>Consultant</td>
      <td>https://drive.google.com/u/0/open?usp=forms_web&amp;id=1WpIycveZ_k_ncCPRvAnS8FfQMMCnPw91</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1827754</td>
      <td>Saumya</td>
      <td>Main</td>
      <td>1995-08-07</td>
      <td>24.000000</td>
      <td>Female</td>
      <td>Christ (Deemed to be University) Institute of Management</td>
      <td>123@gmail.com</td>
      <td>1234567890</td>
      <td>86</td>
      <td>91</td>
      <td>BSc</td>
      <td>84</td>
      <td>Human Resources</td>
      <td>MBA</td>
      <td>Marketing</td>
      <td>86</td>
      <td>ABC</td>
      <td>QWERTY</td>
      <td>PWP</td>
      <td>11.0</td>
      <td>Bangalore</td>
      <td>Karnataka</td>
      <td>Hindi, English, Telugu, Gujarati, Tamil, Kannada</td>
      <td>Analyst</td>
      <td>https://drive.google.com/u/0/open?usp=forms_web&amp;id=1WpIycveZ_k_ncCPRvAnS8FfQMMCnPw103</td>
    </tr>
  </tbody>
</table>